body {
	background: #FFF;
	/*url("http://imgur.com/lJhb8ek.png");*/
	text-align: center;
	margin:0 auto;
	padding: 0;
}

div {

}

ul {
	font-family: 'Roboto Slab', serif;
	padding: 0;
}

li {
	padding: 0;
	display: inline-block;
	text-align: center;
}

header {
	text-align: center;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 40%;
	height: 10%;
}

span{
	padding-top: 10%;

}


@media (max-width: 500px) {
	html{
      padding: 0px;
    }
  
    h1 {
		font-size: 26px;
	}
    
	li {
		display: inline-block;
		padding: 5px;
	}
}

.profile {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 5px;
		width: 125px;
		height: 125px;
		line-height: 12px;
		border-radius: 90px;
		border: 4px solid;
		border-color: rgba(255,255,255,0.75);
}

.socialmedia {
		display: inline;
		max-height: 30px;
}

.work {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 20px;
	margin: 0, auto;
}

h1 {
	font-size: 70px;
	font-family: 'Pacifico', cursive;
	color: black;
    	margin-top: -20px;
    }


h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	padding: 0;
  color: gray;
  padding: 0;
  margin-top: -70px;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	margin: 0;
	padding: 0;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

h5 {
	color: gray;
	font-size: 15px;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

a:link {
		color: #174764;
		text-decoration: none;
		font-weight: bold;
        padding-left: 10px;
	}

a:hover {
		color: #5EC4CD;
		text-decoration: none;
	}

a:visited {
		text-decoration: none;
		color: #174764;
	}

p {
		font-size: 15px;
		margin: 0 auto;
		line-height: 28px;
  		text-align: justify;
        	font-family: 'Roboto Slab', serif;
        	max-width: 860px;
		display: inline-block;
		padding: 10px;
	}

input {
		border: 0;
		padding: 10px;
		border-radius: 15px;
		font-family: 'Roboto Slab', serif;
	}
input[id=email]:focus {
		background: rgba(255,255,255,1);
		font-size: 12.5px;
}

input[id=button] {
		background: pink;
		color: black;
		font-size: 12.5px;
		font-family: 'Roboto Slab', serif;
}

input:hover {
		background: rgba(255,255,255,0.75);
		color: black;
		font-style: bold;
}

span {
	display: block;
	margin: 0 auto;
}